.background {
    background-image: url('image/resetPW_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    overflow-y: hidden;
}

.navbar {
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 50px;
    display: flex;
    align-items: center;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
}

.logo {
    height: 60px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 10px;
    margin-right: 100px;
}

.cart-icon {
    height: 24px;
    cursor: pointer;
}

.user-name {
    font-size: 16px;
    color: #AB0A0A;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding-top: 80px;
    gap: 20px;
}

.title {
    background-image: url('image/resetPW_title_background.png');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    width: 259px;
    height: 100px;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    margin: 0 auto;
    box-sizing: border-box;
}

.space{
    padding-top: 300px;
}

.item-section {
    flex-grow: 1;
}

.section_title {
    padding: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-left: 2%;
    font-size: 20px;
}


.select-selected {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 25%;
}

.select-items {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1;
    top: 100%;
    left: 0;
}

.select-item {
    padding: 10px;
    cursor: pointer;
}

.select-item:hover {
    background-color: #f1f1f1;
}

.red {
    color: red;
}

.select-item span.red {
    color: red;
}


.footer {
    background-image: url('image/Lighting_bottom.png');
    color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    margin-top: auto;
}

.footer .total-text {
    margin-right: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.cancel-btn, .submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #8E1212;
    color: white;
    border: 1px solid white;
}

.submit-btn {
    background-color: white;
    color: #8E1212;
}

@media (min-width: 1024px){
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        transform-origin: center center;
        transition: transform 0.3s ease;
        margin-top: -20px;
    }

    .wrapper {
        height: calc(100vh - 60px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }

    select {
        font-size: 15px;
        width: 25%;
        padding: 10px;
    }

    .section_title {
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        font-size: 18px;
        padding-top: 2%;
    }
}

@media (max-width: 1023px){
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        transform-origin: center center;
        transition: transform 0.3s ease;
        margin-top: -20px;
    }

    .footer {
        padding: 22px;
        display: flex;
    }

    .wrapper {
        height: calc(100vh - 60px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        transform-origin: center center;
        transition: transform 0.3s ease;
        margin-top: -20px;
    }

    .wrapper {
        height: calc(100vh - 60px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
    }


    .item-section {
        width: 100%;
    }

    select {
        font-size: 20px;
        width: 50%;
        height: 30px;
    }

    .section {
        flex-direction: column;
        padding: 0px;
        margin-bottom: 10px;
    }

    .category {
        width: 100%;
        font-size: 18px;
        text-align: center;
        padding-left: 0px;
        margin: 10px 0;
    }

    .items-grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .item {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .item label {
        font-size: 14px;
    }

    .price {
        font-size: 14px;
    }

    .total-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }

    .total-price {
        color: red;
        font-weight: bold;
        font-size: 18px;
        text-align: right;
        width: 100%;
    }

    .footer .total-text {
        font-size: 16px;
        white-space: nowrap;
        margin-right: 10px;
        color: white;
    }

    .footer .buttons {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
    }

    .cancel-btn, .submit-btn {
        padding: 10px 20px;
        font-size: 15px;
        white-space: nowrap;
    }

    .cancel-btn {
        background-color: #8E1212;
        color: white;
        border: 1px solid white;
    }

    .submit-btn {
        background-color: white;
        color: #8E1212;
        border: 1px solid white;
    }
}
@media screen and (max-width: 480px) {
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 150px);
        width: 100vw;
        max-width: none;
        padding: 15px;
        margin-left: -20px;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .wrapper {
        height: calc(100vh - 40px);
        margin-top: 20px;
    }

    .item-section {
        width: 100%;
    }

    select {
        font-size: 10px;
        width: 25%;
        height: 40px;
        white-space: nowrap;
    }

    .section {
        flex-direction: column;
        margin-bottom: 10px;
        border-bottom: none;
    }

    .category {
        font-size: 18px;
        text-align: center;
        padding-left: 0;
        width: 25%;
        max-width: 25%;
        margin: 10px 0;
    }

    .items-grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .item {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .item label {
        font-size: 14px;
    }

    .price {
        font-size: 14px;
    }

    .total-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: 10px;
    }

    .total-price {
        color: red;
        font-weight: bold;
        font-size: 24px;
        text-align: right;
        width: 100%;
        margin-right: 10px;
    }

    .select-selected {
        background-color: #fff;
        color: #333;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 30%;
        font-size: 15px;
    }

    .space{
        padding-bottom: 180px;
    }

    .footer {
        background-image: url('image/mobile_bottom.png');
        background-position: center bottom;
        width: 106%;
        margin-left: -15px;
        height: 100px;
        padding: 50px;
    }

    .space {
        padding-top: 200px;
    }

    .footer .total-text {
        font-size: 16px;
        white-space: nowrap;
        margin-right: 10px;
        color: white;
    }

    .footer .buttons {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
    }

    .cancel-btn, .submit-btn {
        padding: 10px 20px;
        font-size: 15px;
        white-space: nowrap;
    }

    .cancel-btn {
        background-color: #8E1212;
        color: white;
        border: 1px solid white;
    }

    .submit-btn {
        background-color: white;
        color: #8E1212;
        border: 1px solid white;
    }
}

@media (max-width: 420px){
    .container {
        overflow-x: hidden;
    }
    .footer {
        width: 108%;
    }

    .select-selected {
        width: 50%;
    }

    .total-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: -250px;
    }

    .total-price {
        color: red;
        font-weight: bold;
        font-size: 1.2em;
    }

    .footer .total-text {
        font-size: 14px;
        white-space: nowrap;
        margin-right: 10px;
        color: white;
    }

    .footer .buttons {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
        margin-right: -45px;
    }

    .cancel-btn, .submit-btn {
        padding: 8px 18px;
        font-size: 15px;
        white-space: nowrap;
    }

    .cancel-btn {
        background-color: #960a1d;
        color: white;
        border: 1px solid white;
    }

    .submit-btn {
        background-color: white;
        color: #960a1d;
        border: 1px solid white;
    }
}
