.background {
    background-image: url('image/resetPW_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    overflow-y: hidden;
}

.navbar {
    width: 100%;
    background-color: #FFFFFF;
    padding-left: 50px;
    display: flex;
    align-items: center;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
}

.logo {
    height: 60px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 10px;
    margin-right: 100px;
}

.cart-icon {
    height: 24px;
    cursor: pointer;
}

.user-name {
    font-size: 16px;
    color: #AB0A0A;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding-top: 80px;
    gap: 20px;
}

.title {
    background-image: url('image/resetPW_title_background.png');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    width: 259px;
    height: 100px;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 70vh;
    max-height: calc(100vh - 200px);
    margin: 0 auto;
    box-sizing: border-box;
}

.space {
    flex-grow: 1;
    min-height: 100px;
}

.info-section {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px 0;
    color: #666;
    cursor: pointer;
    padding: 10px;
}

.sidebar li.active {
    color: #b31b1b;
    font-weight: bold;
    background-color: rgba(171, 10, 10, 0.1);
}

.main-content {
    width: 75%;
    padding: 20px;
    padding-bottom: 25%;
}

.email {
    font-size: 18px;
    margin-bottom: 20px;
}

.form-row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
    padding-top: 10px;
}

.form-row1 .address-part {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 16px;
}

.address-item {
    flex-grow: 0;
    flex-shrink: 0;
}

.postcode-item,
.city-item,
.district-item {
    width: 80px;
}

.address-full {
    flex-grow: 1;
    flex-shrink: 1;
}

.address-item input,
.address-item select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #A8A8A8;
}

.hide {
    display: none;
}

.address-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 16px;
}

.confirm-button {
    background-color: #b31b1b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-button:hover {
    background-color: #991414;
}

.content-section {
    display: none;
    margin-bottom: -30%;
}

.content-section.active {
    display: block;
}

.delete-link {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

#personal-info-content {
    padding: 20px;
}

#personal-info-content .form-horizontal {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
}

#personal-info-content .form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

#personal-info-content .member-select-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #846136;
    white-space: nowrap;
}

#personal-info-content .select-wrapper {
    position: relative;
}

#personal-info-content .select-wrapper::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #846136;
}

#personal-info-content select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    background-color: white;
    width: 250px;
}

#personal-info-content .new-entry-button {
    white-space: nowrap;
    background-color: white;
    border: 1px solid #A8A8A8;
    color: #A8A8A8;
    padding: 8px 12px;
    cursor: pointer;
}

#personal-info-content .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#personal-info-content .form-group label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

#personal-info-content .form-control {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

#personal-info-content .select-wrapper-gender {
    position: relative;
    width: 100%;
}

#personal-info-content .select-wrapper-gender::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: black;
}

#personal-info-content select.form-control-gender {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 30px 8px 10px;
    background-color: white;
    width: 100%;
    height: 38px;
    font-size: 16px;
    color: #000;
    border: 1px solid #ddd;
}

#personal-info-content input[type="date"].form-control {
    padding: 7px 12px;
}

#personal-info-content .form-group.button-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#personal-info-content .confirm-button {
    background-color: #b31b1b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#personal-info-content .delete-link {
    color: red;
    text-decoration: none;
    font-size: 14px;
}

#member-select {
    color: #846136;
    margin-left: 10px;
}

#gender {
    color: black;
}

#transaction-content {
    font-family: Arial, sans-serif;
}


.transaction-header {
    margin-bottom: 20px;
}

#payment-date {
    padding: 5px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #ccc;
    padding-right: 30px;
}

.transaction-table {
    width: 100%;
}

.table-section {
    border-bottom: 1px solid #A8A8A8;
    margin-bottom: 20px;
}

.table-header {
    display: flex;
    align-items: center;
}

.table-row {
    display: flex;
    padding: 10px;

}

.col-1,
.col-2,
.col-3 {
    padding: 10px;
    box-sizing: border-box;
}

.table-header .col-1 {
    background-color: #A58C6D;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    max-width: fit-content;
    box-sizing: border-box;
    height: 40px;
}

.table-header-option {
    color: red;
}

.table-header .col-2 {
    color: #0000ff;
    margin-top: 5px;
    flex: 1;
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
}

.table-header .col-3 {
    width: 80px;
    text-align: right;
}

.table-header .col-2already-refund {
    color: red;
    margin-top: 5px;
    flex: 1;
    text-align: right;
    font-weight: bold;
    margin-right: 30px;
}

.refund-btn {
    background-color: #fff;
    color: #b31b1b;
    border: 1px solid #b31b1b;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
    margin-top: 5px;
}

.table-row .col-1 {
    width: 10%;
    max-width: 10%;
    margin-left: -15px;
    font-weight: bold;
}

.table-row .col-2 {
    flex: 1;
    color: #666;
}

.table-row .col-3 {
    width: 80px;
    color: #000;
    text-align: right;
}

#change-password-content {
    padding: 20px;
}

#change-password-content {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}

#change-password-content .form-horizontal {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
}

#change-password-content .form-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#change-password-content .control-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-align: left;
    width: 100%;
}

#change-password-content .form-control {
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

#change-password-content .form-control::placeholder {
    color: #999;
    text-align: center;
}

#change-password-content .form-group.button-group {
    margin-top: 20px;
    text-align: center;
}

#change-password-content .confirm-button {
    padding: 8px 0;
    font-size: 14px;
    background-color: #b31b1b;
    color: white;
    border: none;
    cursor: pointer;
}

#change-password-content .confirm-button:hover {
    background-color: #991414;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 350px;
    text-align: center;
}

.modal h2 {
    color: #b31b1b;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: x-large;
}

.modal-icon {
    margin-bottom: 20px;
}

.modal-icon img {
    width: 100px;
    height: 100px;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.modal-button {
    padding: 10px 50px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.modal-button.cancel {
    background-color: #fff;
    color: #b31b1b;
    border: 1px solid #b31b1b;
}

.modal-button.confirm {
    background-color: #b31b1b;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#logoutModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 400px;
    text-align: center;
}

#logoutModal .modal h2 {
    color: #b31b1b;
    margin-bottom: 20px;
    font-size: 20px;
}

#logoutModal .modal-icon {
    margin-bottom: 20px;
}

#logoutModal .modal-icon img {
    width: 100px;
    height: 100px;
}

#logoutModal .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#logoutModal .modal-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 16px;

}

#logoutModal .modal-button.cancel {
    background-color: #fff;
    color: #b31b1b;
    border: 1px solid #b31b1b;
}

#logoutModal .modal-button.confirm {
    background-color: #b31b1b;
    color: #fff;
}

#logoutModal .modal-button:hover {
    opacity: 0.8;
}

#successModal .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#successModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 400px;
    text-align: center;
}

#successModal .success-modal {
    width: 250px;
}

#successModal .success-icon {
    margin-bottom: 20px;
}

#successModal .success-icon img {
    width: 100px;
    height: 100px;
}

#successModal .modal h2 {
    color: #b31b1b;
    margin-bottom: 20px;
    font-size: 20px;
}

#successModal .modal-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#successModal .modal-button.confirm {
    background-color: #b31b1b;
    color: #fff;
}

#successModal .modal-button:hover {
    opacity: 0.8;
}

#changePasswordConfirmModal .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#changePasswordConfirmModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

#changePasswordConfirmModal .modal h2 {
    color: #b31b1b;
    margin-bottom: 20px;
    font-size: 20px;
}

#changePasswordConfirmModal .modal-icon {
    margin-bottom: 20px;
}

#changePasswordConfirmModal .modal-icon img {
    width: 50px;
    height: 50px;
}

#changePasswordConfirmModal .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#changePasswordConfirmModal .modal-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 16px;
}

#changePasswordConfirmModal .modal-button.cancel {
    background-color: #fff;
    color: #b31b1b;
    border: 1px solid #b31b1b;
}

#changePasswordConfirmModal .modal-button.confirm {
    background-color: #b31b1b;
    color: #fff;
}

#changePasswordConfirmModal .modal-button:hover {
    opacity: 0.8;
}

.mobile-sidebar,
.mobile-footer {
    display: none;
}

@media (min-width: 1024px) {
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        transform-origin: center center;
        transition: transform 0.3s ease;
        margin-top: -20px;
        min-height: 70vh;
    }

    .wrapper {
        height: calc(100vh - 60px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
    }

    .transaction-table {
        font-size: 14px;
    }

    .table-header .col-1 {
        background-color: #A58C6D;
        color: white;
        margin-top: 10px;
        border: none;
        font-size: 14px;
        text-align: center;
        min-width: 10%;
        max-width: fit-content;
        box-sizing: border-box;

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 35px !important;
        padding: 0 !important;
        margin: 10px 0 !important;
    }

    .table-row .col-1 {
        width: 25%;
    }

    .modal-content {
        width: 90%;
        padding: 20px;
    }

    .modal-button {
        padding: 10px;
        font-size: 14px;
    }

    .form-horizontal {
        padding: 10px;
    }

    .form-row {
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
    }

    .form-row1 {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 16px;
    }

    .form-row1 .address-part {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 16px;
    }

    .address-item {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .postcode-item,
    .city-item,
    .district-item {
        width: 80px;
    }

    .address-full {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .address-full input {
        width: 70%;
    }

    .address-item input,
    .address-item select {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #A8A8A8;
    }

    .address-full input {
        width: 70%;
        border: 1px solid #A8A8A8;
    }

    .address-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 16px;
    }

    .half-width {
        width: 49%;
    }

    #change-password-content .form-horizontal {
        max-width: 100%;
    }

    #change-password-content .form-control {
        font-size: 16px;
    }

    #change-password-content .form-control::placeholder {
        font-size: 16px;
    }

    #change-password-content .confirm-button {
        width: 50%;
    }

    #change-password-content .form-control {
        width: 120%;
    }

    #transaction-content .transaction-header {
        flex-direction: column;
        align-items: flex-start;
    }

    #transaction-content #payment-date {
        width: 50%;
        margin-top: 5px;
        padding: 10px;
    }

    #transaction-content .transaction-table {
        font-size: 14px;
        white-space: nowrap;
    }

    #transaction-content .table-section {
        margin-bottom: 15px;
    }

    #transaction-content .table-header,
    #transaction-content .table-row {
        flex-wrap: wrap;
        margin-bottom: -20px;
    }

    #transaction-content .table-header .col-1 {
        background-color: #A58C6D;
        color: white;
        margin-top: 10px;
        border: none;
        font-size: 14px;
        text-align: center;
        min-width: 20%;
        max-width: fit-content;
        box-sizing: border-box;

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 35px !important;
        padding: 0 !important;
        margin: 10px 0 !important;
    }

    #transaction-content .table-header .col-1,
    #transaction-content .table-row .col-1 {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        padding-right: 80px;
    }

    #transaction-content .table-row .col-2 {
        width: 20%;
        text-align: left;
        padding-right: 50px;
    }

    #transaction-content .table-header .col-3,
    #transaction-content .table-row .col-3 {
        width: 20%;
        text-align: right;
    }

    #transaction-content .refund-btn {
        padding: 3px 15px;
        font-size: 12px;
    }



}

@media (max-width: 1023px) {
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        transform-origin: center center;
        transition: transform 0.3s ease;
        margin-top: -20px;
        min-height: 70vh;
    }

    .wrapper {
        height: calc(100vh - 60px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }

    #change-password-content .confirm-button {
        width: 50%;
    }

    #personal-info-content {
        padding: 20px;
    }

    #personal-info-content .form-horizontal {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #fff;
    }

    #personal-info-content .form-row {
        display: flex;
        gap: 20px;
        margin-bottom: 15px;
    }

    #personal-info-content .member-select-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #846136;
        white-space: nowrap;
    }

    #personal-info-content .select-wrapper {
        position: relative;
    }

    #personal-info-content .select-wrapper::after {
        content: "\25BC";
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: #846136;
    }

    #personal-info-content select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 30px;
        background-color: white;
        width: 250px;
    }

    #personal-info-content .new-entry-button {
        white-space: nowrap;
        background-color: white;
        border: 1px solid #A8A8A8;
        color: #A8A8A8;
        padding: 8px 12px;
        cursor: pointer;
    }

    #personal-info-content .form-group {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    #personal-info-content .form-group label {
        margin-bottom: 5px;
        font-size: 14px;
        color: #333;
    }

    #personal-info-content .form-control {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid #ddd;
        font-size: 16px;
        color: #333;
        box-sizing: border-box;
    }

    #personal-info-content .select-wrapper-gender {
        position: relative;
        width: 100%;
    }

    #personal-info-content .select-wrapper-gender::after {
        content: "\25BC";
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
        color: black;
    }

    #personal-info-content select.form-control-gender {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 8px 30px 8px 10px;
        background-color: white;
        width: 100%;
        height: 38px;
        font-size: 16px;
        color: #000;
        border: 1px solid #ddd;
    }

    #personal-info-content input[type="date"].form-control {
        padding: 7px 12px;
    }

    #personal-info-content .form-group.button-group {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    #personal-info-content .confirm-button {
        background-color: #b31b1b;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }

    #personal-info-content .delete-link {
        color: red;
        text-decoration: none;
        font-size: 14px;
    }

    #member-select {
        color: #846136;
    }

    #gender {
        color: black;
    }

    #transaction-content .transaction-header {
        flex-direction: column;
        align-items: flex-start;
    }

    #transaction-content #payment-date {
        width: 50%;
        margin-top: 5px;
        padding: 10px;
    }

    #transaction-content .transaction-table {
        font-size: 14px;
        white-space: nowrap;
    }

    #transaction-content .table-section {
        margin-bottom: 15px;
    }

    #transaction-content .table-header,
    #transaction-content .table-row {
        flex-wrap: wrap;
        margin-bottom: -20px;
    }

    #transaction-content .table-header .col-1 {
        background-color: #A58C6D;
        color: white;
        margin-top: 10px;
        border: none;
        font-size: 14px;
        text-align: center;
        min-width: 20%;
        max-width: fit-content;
        box-sizing: border-box;

        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 35px !important;
        padding: 0 !important;
        margin: 10px 0 !important;
    }

    #transaction-content .table-header .col-1,
    #transaction-content .table-row .col-1 {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        padding-right: 80px;
    }

    #transaction-content .table-row .col-2 {
        width: 20%;
        text-align: left;
        padding-right: 50px;
    }

    #transaction-content .table-header .col-3,
    #transaction-content .table-row .col-3 {
        width: 20%;
        text-align: right;
    }

    #transaction-content .refund-btn {
        padding: 3px 15px;
        font-size: 12px;
    }

    .form-row {
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
    }

    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 8px;
        font-size: 14px;
    }

    .form-row1 {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 16px;
    }

    .form-row1 .address-part {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 16px;
    }

    .address-item {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .postcode-item,
    .city-item,
    .district-item {
        width: 80px;
    }

    .address-full {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .address-full input {
        width: 70%;
    }

    .address-item input,
    .address-item select {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #A8A8A8;
    }

    .address-full input {
        width: 70%;
        border: 1px solid #A8A8A8;
    }

    .address-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 16px;
    }
}

@media screen and (max-width: 768px) {
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 150px);
        width: 100vw;
        max-width: none;
        padding: 15px;
        margin-left: -20px;
        box-sizing: border-box;
        overflow-x: hidden;
        min-height: 70vh;
    }

    .wrapper {
        height: calc(100vh - 40px);
        padding-top: 80px;
    }

    .sidebar {
        display: none !important;
    }

    .mobile-sidebar {
        display: block;
        background-color: #fff;
        padding: 10px;
    }

    .mobile-sidebar ul {
        list-style: none;
    }

    .mobile-sidebar li {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        color: #333;
    }

    .mobile-sidebar li.active {
        color: #b31b1b;
        font-weight: bold;
    }

    .mobile-header {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .mobile-back-button {
        background: none;
        border: none;
        font-size: 24px;
        color: #333;
        cursor: pointer;
        margin-right: 10px;
        display: flex;
    }

    .mobile-back-button img {
        width: 30px;
        height: 30px;
    }


    .mobile-header-title {
        font-size: 18px;
        font-weight: normal;
        color: #333;
        margin-top: 5%;
    }

    .mobile-back-button,
    .mobile-header-title {
        display: flex;
        align-items: center;
    }

    .main-content h2 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .main-content .email {
        margin-bottom: 20px;
    }

    .main-content .confirm-button {
        width: 25%;
        padding: 10px;
        background-color: #b31b1b;
        color: white;
        border: none;
        font-size: 15px;
        margin-top: 20px;
    }

    #personal-info-content .form-horizontal {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        margin-top: -50px;
    }

    #personal-info-content .form-row {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }

    #personal-info-content .member-select-group {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }


    #personal-info-content .select-wrapper {
        width: 100%;
        margin-left: -10px;
    }

    #personal-info-content select.form-control,
    #personal-info-content .form-control,
    #personal-info-content select.form-control-gender {
        width: 100%;
    }

    #personal-info-content .new-entry-button {
        align-self: flex-end;
        white-space: nowrap;
    }

    #personal-info-content .form-group {
        width: 100%;
    }

    #personal-info-content .form-group.button-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    #personal-info-content .confirm-button,
    #personal-info-content .delete-link {
        width: auto;
    }

    #personal-info-content .confirm-button {
        order: 1;
    }

    #personal-info-content .delete-link {
        order: 2;
    }

    #transaction-content {
        width: 70vh;
    }

    #transaction-content .transaction-header {
        flex-direction: column;
        align-items: flex-start;
    }

    #transaction-content #payment-date {
        width: 50%;
        margin-top: 5px;
        padding: 10px;
    }

    #transaction-content .transaction-table {
        font-size: 14px;
        white-space: nowrap;
    }

    #transaction-content .table-section {
        margin-bottom: 15px;
    }

    #transaction-content .table-header,
    #transaction-content .table-row {
        flex-wrap: wrap;
        margin-bottom: -20px;
    }

    #transaction-content .table-header .col-1,
    #transaction-content .table-row .col-1 {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        padding-right: 80px;
    }

    #transaction-content .table-row .col-2 {
        width: 20%;
        text-align: left;
        padding-right: 50px;
    }

    #transaction-content .table-header .col-3,
    #transaction-content .table-row .col-3 {
        width: 20%;
        text-align: right;
    }

    #transaction-content .refund-btn {
        padding: 3px 15px;
        font-size: 12px;
    }

    #change-password-content {
        padding: 20px;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
    }

    #change-password-content .form-horizontal {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 35%;
    }

    #change-password-content .form-group {
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #change-password-content .control-label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        color: #333;
        text-align: left;
        width: 100%;
    }

    #change-password-content .form-control {
        width: 100%;
        padding: 8px 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
    }

    #change-password-content .form-control::placeholder {
        color: #999;
        text-align: center;
    }

    #change-password-content .form-group.button-group {
        margin-top: 20px;
        text-align: center;
    }

    #change-password-content .confirm-button {
        padding: 8px 0;
        font-size: 14px;
        background-color: #b31b1b;
        color: white;
        border: none;
        cursor: pointer;
    }

    #change-password-content .confirm-button:hover {
        background-color: #991414;
    }

    .form-row1 {
        flex-direction: column;
        gap: 0;
    }

    .form-row1 .address-part {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .address-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: -30px;
    }

    .address-full input {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #A8A8A8;
    }

    .postcode-item {
        margin-bottom: 37px;
    }

    .address-item {
        flex: 1;
    }

    .address-item:last-child {
        margin-right: 0px;
    }
}

@media screen and (max-width: 480px) {
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 150px);
        width: 100vw;
        max-width: none;
        padding: 15px;
        margin-left: -20px;
        box-sizing: border-box;
        overflow-x: hidden;
        min-height: 70vh;
    }

    .wrapper {
        height: calc(100vh - 40px);
        padding-top: 80px;
    }

    .item-section {
        width: 100%;
    }

    select {
        font-size: 15px;
        width: 70%;
        height: 40px;
    }

    .section {
        flex-direction: column;
        margin-bottom: 10px;
        border-bottom: none;
    }

    .category {
        font-size: 18px;
        text-align: center;
        padding-left: 0;
        width: 25%;
        max-width: 25%;
        margin: 10px 0;
    }

    .items-grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .item {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .item label {
        font-size: 14px;
    }

    .price {
        font-size: 14px;
    }

    .total-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: 10px;
    }

    .total-price {
        color: red;
        font-weight: bold;
        font-size: 24px;
        text-align: right;
        width: 100%;
        margin-right: 10px;
    }

    .footer {
        background-image: url('image/mobile_bottom.png');
        color: white;
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        padding: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: auto;
        width: 400px;
        height: 100px;
        box-sizing: border-box;
        margin: -50px;
    }

    .space {
        padding-top: 60px;
    }

    .footer .total-text {
        font-size: 16px;
        white-space: nowrap;
        margin-right: 10px;
        color: white;
    }

    .footer .buttons {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
    }

    .cancel-btn,
    .submit-btn {
        padding: 10px 20px;
        font-size: 15px;
        white-space: nowrap;
    }

    .cancel-btn {
        background-color: #960a1d;
        color: white;
        border: 1px solid white;
    }

    .submit-btn {
        background-color: white;
        color: #960a1d;
        border: 1px solid white;
    }

    #personal-info-content .form-horizontal {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 30vh;
    }

    #transaction-content {
        width: 60vh;
    }

    #transaction-content .transaction-header {
        flex-direction: column;
        align-items: flex-start;
    }

    #transaction-content #payment-date {
        width: 50%;
        margin-top: 5px;
        padding: 10px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 5px;
        border: 1px solid #ccc;
        padding-right: 30px;
    }

    #transaction-content .transaction-table {
        font-size: 14px;
        white-space: nowrap;
    }

    #transaction-content .table-section {
        margin-bottom: 15px;
    }

    #transaction-content .table-header,
    #transaction-content .table-row {
        flex-wrap: wrap;
        margin-bottom: -20px;
    }

    #transaction-content .table-header .col-1,
    #transaction-content .table-row .col-1 {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        padding-right: 50px;
    }

    #transaction-content .table-row .col-2 {
        width: 20%;
        text-align: left;
        padding-right: 50px;
    }

    #transaction-content .table-header .col-2already-refund {
        text-align: center;
        font-weight: bold;
    }

    #transaction-content .table-header .col-2 {
        color: #0000ff;
        margin-top: 5px;
        flex: 1;
        text-align: center;
        font-weight: bold;
        margin-right: 20px;
    }

    #transaction-content .table-header .col-3,
    #transaction-content .table-row .col-3 {
        width: 20%;
        text-align: right;
    }

    #transaction-content .refund-btn {
        padding: 3px 15px;
        font-size: 12px;
    }

    #change-password-content .form-horizontal {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
    }
}

@media (max-width: 430px) {
    #transaction-content #payment-date {
        width: 55%;
        margin-top: 5px;
        padding: 10px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 5px;
        border: 1px solid #ccc;
        padding-right: 30px;
    }

    #transaction-content {
        width: 40vh;
    }

    #change-password-content .form-horizontal {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -5%;
    }
}

@media (max-width: 420px) {
    #transaction-content #payment-date {
        width: 55%;
        margin-top: 5px;
        padding: 10px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 5px;
        border: 1px solid #ccc;
        padding-right: 30px;
    }

    #transaction-content {
        width: 40vh;
    }

    #change-password-content .form-horizontal {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -10%;
    }
}

@media screen and (max-width: 376px){
    #transaction-content {
        width: 50vh;
    }
    #change-password-content .form-horizontal {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -20%;
    }
}

@media screen and (max-width: 360px){
    #transaction-content {
        width: 40vh;
    }

    #transaction-content #payment-date {
        width: 70%;
        margin-top: 5px;
        padding: 10px;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 5px;
        border: 1px solid #ccc;
        padding-right: 30px;
    }


    #change-password-content .form-horizontal {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -20%;
    }
}
