.background {
    background-image: url('image/resetPW_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
    overflow-y: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding-top: 80px;
    gap: 20px;
}

.title {
    background-image: url('image/resetPW_title_background.png');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    width: 259px;
    height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0px;
    gap: 32px;
    width: 90%;
    max-width: 1140px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 1;
    flex-grow: 0;
    overflow-y: auto;
}

.payment-form {
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.cancel-btn, .confirm-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 35%;
}

.cancel-btn {
    background-color: #fff;
    color: #AB0A0A;
    border: 1px solid #AB0A0A;
}

.confirm-btn {
    background-color: #AB0A0A;
    color: #fff;
}

.cancel-btn:hover, .confirm-btn:hover {
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.modal h2 {
    color: #AB0A0A;
    margin-bottom: 20px;
    font-size: 20px;
}

.hourglass-icon {
    margin-top: 20px;
}

.hourglass-icon img {
    width: 100px;
    height: 100px;
}

#paymentFailureModal .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#paymentFailureModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.space-little{
    padding-bottom: 20px;
}

#paymentFailureModal .modal h2 {
    color: #AB0A0A;
    margin-bottom: 20px;
    font-size: 20px;
}

#paymentFailureModal .warning-icon {
    margin: 20px 0;
}

#paymentFailureModal .warning-icon img {
    width: 100px;
    height: 100px;
}

#paymentFailureModal .modal p {
    margin-bottom: 20px;
    font-size: 16px;
}

#paymentFailureModal .modal .confirm-btn {
    background-color: #AB0A0A;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#paymentFailureModal .modal .confirm-btn:hover {
    opacity: 0.8;
}

@media (min-width: 1024px){
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        transform-origin: center center;
        transition: transform 0.3s ease;
    }

    .wrapper {
        height: calc(100vh - 60px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
}

@media (max-width: 1023px){
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        transform-origin: center center;
        transition: transform 0.3s ease;
    }

    .wrapper {
        height: calc(100vh - 60px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10%;
    }
}

@media screen and (max-width: 768px) {
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        transform-origin: center center;
        transition: transform 0.3s ease;
        margin-top: -20px;
    }

    .wrapper {
        height: calc(100vh - 60px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10%;
    }


    .form-group label {
        font-size: 14px;
    }

    .form-group input[type="text"] {
        font-size: 14px;
    }

    .cancel-btn, .confirm-btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .modal-content {
        width: 50%;
        padding: 40px;
    }

    #paymentFailureModal .modal-content {
        width: 50%;
        padding: 20px;
    }

    #paymentFailureModal .warning-icon img {
        width: 90px;
        height: 90px;
    }

    #paymentFailureModal .modal p {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .background {
        overflow: hidden;
    }

    .title {
        font-size: 25px;
        width: 210px;
        height: 80px;
        margin-bottom: 20px;
    }

    .container {
        max-height: calc(100vh - 150px);
        width: 100vw;
        max-width: none;
        padding: 15px;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .wrapper {
        height: calc(100vh - 40px);
        padding-top: 70px;
    }
    .background {
        background-position: calc(50% - -180px) bottom;
    }

    .payment-form {
        max-width: 50%;
    }

    .form-actions {
        flex-direction: row;
        align-items: center;
    }

    .cancel-btn, .confirm-btn {
        width: 80%;
        margin-bottom: 10px;
        font-size: 14px;
        white-space: nowrap;
    }

    .modal-content {
        width: 90%;
        padding: 30px;
    }

    #paymentFailureModal .modal-content {
        width: 90%;
        padding: 15px;
    }

    #paymentFailureModal .warning-icon img {
        width: 80px;
        height: 80px;
    }

    #paymentFailureModal .modal p {
        font-size: 14px;
    }
}
